.Sub-Menu{
    color: #24255C;
    background-color: #D8D8D8;
    height: 40px;
    width:1423px;
    margin: 0px;
}

p{
    color: #24255C;
    
}

.colecoes{
    margin-left: 40px;
    margin-top: 0px;
    padding-top: 6px;
}

